<%- include('partials/galleryHeader') %>

<% console.log(images) %>
<figure class="large-figure"><img src="../images/lrg/<%= images.fileName %>" alt="<%= images.title %>" class="large">
  <figcaption class="large-caption"><a href="<%= images.attribution.url %>"
      class="author-link"><%= images.attribution.credit %></a>
    <P><%= images.attribution.source %></P>
  </figcaption>
</figure>

<%- include('partials/footer') %>