<%- include('partials/galleryHeader') %>

<% 
    for (story of images)  { 
        if (story.id == photoid){ %>
<figure class="large-figure"><img src="../images/lrg/<%= story.fileName %>" alt="<%= story.title %>" class="large">
  <figcaption class="large-caption"><a href="<%= story.attribution.url %>"
      class="author-link"><%= story.attribution.credit %></a>
    <P><%= story.attribution.source %></P>
  </figcaption>
</figure>
<% }
        }
    %>

<%- include('partials/footer') %>